<a href="https://colab.research.google.com/github/bdfd/Project-Sale_Analysis-DS/blob/main/Sale_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
import warnings

# import from google colab
from google.colab import drive

# # visualization
# import seaborn as sns
# import matplotlib.pyplot as plt
# %matplotlib inline

# # machine learning
# from scipy import stats
# from scipy.stats import norm
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LogisticRegression
# from sklearn.svm import SVC, LinearSVC
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.naive_bayes import GaussianNB
# from sklearn.linear_model import Perceptron
# from sklearn.linear_model import SGDClassifier
# from sklearn.tree import DecisionTreeClassifier

## Import and Concate Dataset

In [9]:
# Step 1: Import dataset and Check data
month1_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_January_2019.csv')
month2_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_February_2019.csv')
month3_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_March_2019.csv')
month4_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_April_2019.csv')
month5_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_May_2019.csv')
month6_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_June_2019.csv')
month7_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_July_2019.csv')
month8_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_August_2019.csv')
month9_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_September_2019.csv')
month10_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_October_2019.csv')
month11_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_November_2019.csv')
month12_dataset = pd.read_csv('https://raw.githubusercontent.com/bdfd/Project-Sale_Analysis-DS/main/dateset/Sales_December_2019.csv')

In [13]:
# Step 2: Concate into One File
data_collection = pd.DataFrame()
df = pd.concat([data_collection, month1_dataset])
all_month_data = pd.concat([data_collection, month1_dataset, month2_dataset,month3_dataset,month4_dataset,month5_dataset,month6_dataset,month7_dataset,month8_dataset,month9_dataset,month10_dataset,month11_dataset,month12_dataset ])

In [12]:
df.head()

  Order ID  ...                       Purchase Address
0   141234  ...        944 Walnut St, Boston, MA 02215
1   141235  ...       185 Maple St, Portland, OR 97035
2   141236  ...  538 Adams St, San Francisco, CA 94016
3   141237  ...     738 10th St, Los Angeles, CA 90001
4   141238  ...          387 10th St, Austin, TX 73301

[5 rows x 6 columns]

In [15]:
# Step3: Combine into one file, and save to local
all_month_data.to_csv("all_data.csv",index=False)

## New Section

In [ ]:
combine